/* global styling  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  font-family: 'COCOGOOSE', sans-serif;
}

.intro-container {
  margin-top: -29px;
  background: url('../icons/mobile-bg.png') no-repeat;
  background-size: cover;
}

/* Below section if for Section 1 || Header Tag */
header {
  height: 100%;
  margin: 30px 20px;
}

.mobile-menu {
  top: 0;
  left: 0;
  margin-left: 20px;
  z-index: 1;
}

.mobile-menu > img {
  height: 6vh;
  margin-top: 20px;
}

#desk-most-top {
  display: none;
}

.most-top {
  display: none;
  justify-content: flex-end;
  background-color: #272831;
}

/* This Section is for Page welcome content || Introduction */
.home-intro {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 30px 20px 0 20px;
}

.page-intro {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 80px;
  margin-bottom: 90px;
}

.page-intro > h3 {
  color: #ec5242;
  line-height: 20px;
  font-size: 24px;
}

.page-intro > #title-desc {
  color: #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  padding: 10px 0;
  background-image: url('../images/text-background.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 900;
}

#event-date {
  color: #2e2f33ab;
  font-family: 'COCOGOOSE', sans-serif;
  padding: 10px 0;
  background-size: cover;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 900;
}

.opening-desc {
  display: flex;
  justify-content: center;
  line-height: 24px;
  border: 3px solid #fff;
  padding: 10px;
}

.opening-desc > p {
  font-family: 'lato', sans-serif;
  text-align: justify;
}

.page-intro > h4 {
  color: #746262;
}

/* Below part is for Section 3 || Main Program */
.main-program {
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 50px;
  background: url('../images/main-program.jpg');
}

.program-title {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 10px;
}

.program-title > h2 {
  text-align: center;
  color: #fff;
}

.break-line {
  display: flex;
  justify-content: center;
}

.break-line > hr {
  width: 10%;
  border: 1px solid rgb(212, 107, 107);
}

.program-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0 10px;
}

.program-list > li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  background-color: rgb(100, 94, 94);
  opacity: 0.87;
}

.program-item > span {
  width: 95px;
}

.program-item > h4 {
  width: 97px;
  color: red;
}

.program-item > p {
  font-family: 'lato', sans-serif;
  text-align: start;
  color: whitesmoke;
}

.main-program > span {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.program-btn > button {
  background-color: #ec5242;
  padding: 20px;
  border: none;
}

/* Below feature is for section 5 || Featured container */
.feature-speaker {
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 50px;
  margin: 30px 20px;
}

#feature-title {
  color: #272831;
}

.feature-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 10px;
  align-content: center;
}

.feature-item {
  display: flex;
  align-content: center;
  column-gap: 10px;
}

.feature-item > .speaker-img {
  display: flex;
  width: 40%;
  margin-right: 40px;
  padding-bottom: 70px;
}

.checker {
  position: relative;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}

.person {
  align-self: flex-start;
  position: absolute;
  height: 120px;
  width: 120px;
  transform: translate(15px, 15px);
}

.speaker-detail {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.feature-speaker > button {
  color: #fff;
  padding: 10px 50px;
}

.feature-more-btn > strong {
  color: #272831;
}

.feature-more-btn > i {
  color: red;
}

#speaker-position > i {
  color: red;
}

.partner {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: #4c4949;
  padding: 30px;
}

#partner-title {
  color: white;
  text-align: center;
}

.partner > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.partner-item > img {
  width: 20vw;
}

.footer-content {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  height: 240px;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.footer-content > img {
  width: 150px;
}

@media only screen and (min-width: 758px) {
  #desk-most-top {
    display: block;
    margin: 0;
  }

  #desk-most-top > .most-top {
    display: flex;
    column-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
  }

  .icon {
    text-decoration: none;
    color: white;
  }

  .most-right-link {
    padding: 10px;
    border: solid 5px red;
  }

  .mobile-menu {
    display: none;
  }

  #main-nav {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    padding: 0 150px;
    align-items: center;
    background-color: white;
    column-gap: 20px;
  }

  .nav-logo > img {
    width: 50px;
  }

  .right-nav-link > a {
    text-decoration: none;
    color: #272831;
  }

  .home-intro {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 50%;
    margin: 30px 150px 0 150px;
  }

  .opening-desc {
    display: flex;
    justify-content: center;
    width: 80%;
    line-height: 24px;
    border: 3px solid #fff;
    padding: 10px;
  }

  .page-intro > #title-desc {
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    padding: 10px 0;
    background-image: url('../images/text-background.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
    font-weight: bolder;
  }

  .opening-desc > p {
    font-family: 'lato', sans-serif;
    text-align: start;
  }

  .program-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    margin: 0 10px;
  }

  .program-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: rgb(100, 94, 94);
    opacity: 0.87;
    padding: 15px;
  }

  .feature-speaker {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 50px;
    margin: 40px 150px;
  }

  .feature-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .feature-item {
    display: flex;
    align-content: center;
    row-gap: 10px;
    width: 30vw;
  }

  .feature-item > .speaker-img {
    display: flex;
    width: 40%;
    margin-right: 85px;
    padding-bottom: 70px;
  }

  .checker {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
  }

  .person {
    align-self: flex-start;
    position: absolute;
    height: 120px;
    width: 120px;
    transform: translate(15px, 15px);
  }

  /* .feature-more-btn {
    display: none;
  } */

  .partner > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
  }

  .partner-item > img {
    width: 10vw;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    column-gap: 90px;
    height: 240px;
    align-items: center;
    padding: 10px;
    background-color: white;
  }

  .footer-content > img {
    width: 150px;
  }

  .most-right-link > a {
    text-decoration: none;
    color: red;
  }

  .program-item:hover {
    border: solid 1px white;
  }

  #main-nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    column-gap: 40px;
  }
}

@media only screen and (max-width: 483px) {
  .feature-item {
    column-gap: 51px;
  }
}
